/* Global Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
/* Common Styling */
.flex {
	display: flex;
}
.responsive-flex{
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.item-center {
	align-items: center;
}
.search-contain {
	border: 0;
	outline: 0;
	background: #ebfffc;
	height: 60px;
}

/* Individual Styling */
body {
	background: #222;
}

/* The main container with gradient background */
.card {
	min-height: 82vh;
	width: 90%;
	background: linear-gradient(135deg, #00feba, #5b548a);
	color: #fff;
	margin: 50px auto;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}

/* Search Bar Container */
.container {
	width: 60%;
	margin: 0 auto;
}
.search input {
	color: #555;
	padding: 10px 25px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}
.search button {
	border-radius: 50%;
	width: 60px;
	cursor: pointer;
}
.search button img {
	width: 18px;
}

/* Weather*/
.weather-container{
	margin-top: 30px;
}
.weather-icon{
	width: 170px;
}
.weather{
	text-align: left;
	margin-left: 10px;
}
.weather h1{
	font-size: 60px;
	font-weight: 600;
}
.weather h2{
	font-size: 40px;
	font-weight: 500;
	margin-top: -5px;
}
.details{
	padding: 0 20px;
	margin-top: 50px;
}
.col{
	text-align: left;
}
.col img{
	width: 40px;
	margin-right: 10px;
}
.humidity, .wind{
	font-size: 28px;
	margin-top: -6px;
}

/* Responsive */
/* Tablet */
@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
	.humidity, .wind{
		font-size: 20px;
	}
	.weather h1{
		font-size: 40px;
	}
	.weather h2{
		font-size: 32px;
	}
}
/* Mobile */
@media only screen and (max-width: 576px){
    .container {
        width: 100%;
    }
}
/* Extra Small */
@media only screen and (max-width: 460px) {
    .card {
		min-height: 100vh;
        width: 100%;
		margin: 0;
		padding: 40px 20px;
		border-radius: 0;
    }
	.search input {
		padding: 10px 15px;
		margin-right: 6px;
		font-size: 14px;
	}
	.search button img {
		width: 14px;
	}
	.search-contain {
		height: 40px;
	}
	.search button {
		width: 40px;
	}
	.weather h1{
		font-size: 40px;
	}
	.weather h2{
		font-size: 32px;
	}
	.col img{
		width: 20px;
		margin-right: 10px;
	}
	.humidity, .wind{
		font-size: 18px;
	}
	.responsive-flex{
		display: block;
	}
	.col{
		margin-top: 20px;
	}
	.weather{
		text-align: center;
		margin-left: 0;
	}
}
/* Extra Extra Small */
@media only screen and (max-width: 330px){
	
}