/* Global Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
/* Common Styling */
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.item-center {
	align-items: center;
}
.search-contain {
	border: 0;
	outline: 0;
	background: #ebfffc;
	height: 60px;
}

/* Individual Styling */
body {
	background: #222;
}
/* Search Bar Container */
.card {
	width: 90%;
	background: linear-gradient(135deg, #00feba, #5b548a);
	color: #fff;
	margin: 50px auto 0;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}
.search {
	width: 60%;
}
.search input {
	color: #555;
	padding: 10px 25px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}
.search button {
	border-radius: 50%;
	width: 60px;
	cursor: pointer;
}
.search button img {
	width: 18px;
}


/* Responsive */
/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 577px){
    .search {
        width: 80%;
    }
}
/* Mobile */
@media only screen and (max-width: 576px){
    .search {
        width: 100%;
    }
}
/* Extra Small */
@media only screen and (max-width: 460px) {
    .card {
        width: 95%;
        margin: 10px;
        padding: 15px;
    }
	.search input {
		padding: 10px 15px;
		margin-right: 6px;
		font-size: 14px;
	}
	.search button img {
		width: 14px;
	}
	.search-contain {
		height: 40px;
	}
	.search button {
		width: 40px;
	}
}